@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
.cart {
  cursor: pointer;
}
.cart-title {
  margin: 8rem auto auto 2rem;
}

.productImg {
  height: 200px;
  width: 200px;
  padding: 0.5rem;
}

#item-container {
  width: 100%;
}
