@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.cart {
  cursor: pointer;
}
.checkout-title {
  margin: 8rem auto auto 2rem;
}
.order-summary {
  height: 100vh !important;
}
@media (min-width: 768px) {

  .information-container {
    width: 50% !important;
  }
  
}